h1 {
	text-align: center;
	font-size: 40px;
	font-weight: bold;
	text-decoration: underline;
}

/*giving some spacing around the images*/
.fighter {
	float: left;
	margin: 3%;
	text-align: center;
}

.battle{
	clear: both;
	text-align: center;
}

.defenders{
	clear: both;
	text-align: center;
}

.defeated{
	clear: both;
	text-align: center;
	z-index: 200;
}

.end{
	clear: both;
	text-align: center;
	z-index: 200;
}

.health{
	text-align: center;
}

.inactive{
	color: gray;
	background: white;
	font-size: 30px;
}

.active{
	color: black;
	background: red;
	font-size: 50px;
}

.main{
	float: left;
	margin: 3%;
}

.other{
	float: left;
	margin: 3%;
	text-align: center;
}

.enemy{
	float: right;
	margin: 3%;
}

.gone{
	display: none;
}

.winner{
	float:none;
	margin: 3% 20%;
}

#fighter1{
	background-color: red;
	font-size: 20px;
	color: white;
	padding: 0px 20px;
}

#fighter2{
	background-color: blue;
	font-size: 20px;
	color: white;
	padding: 0px 20px;
}

#fighter3{
	background-color: black;
	font-size: 20px;
	color: white;
	padding: 0px 20px;
}

#fighter4{
	background-color: green;
	font-size: 20px;
	color: white;
	padding: 0px 20px;
}








